@import '../base/settings';

$logoHeight: 64px;

.content {
  margin: 24px 16px 0;
}

.logo {
    height: $logoHeight;
    line-height: $logoHeight / 2;
    color: #333333;
    font-size: $m-size;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.2);
    padding: $m-size;
    text-align: center;
  }
  
  .site-layout-sub-header-background {
    background: #043364;
  }
  
  .site-layout-background {
    background: #fff;
  }
  
  [data-theme="dark"] .site-layout-sub-header-background {
      background: #141414;
  }

  .sider-menu{
    direction: rtl;
    text-align: right;
    
    .sider-menu-icon{
      line-height: 1.2 * $m-size;
      margin-left: 1rem;
      font-size: $m-size;
    }
  }
  